<% @page_title = 'Polaris View Helpers' %>
<p>A collection of Rails helpers to make it easy to style a Shopify app.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<%= polaris_heading "Button links" %>
<%= demo_partial 'button_links' %>
<%= demo_partial 'button_links_with_modifiers' %>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


<%= polaris_heading "Tabs" %>
<%= demo_partial 'tabs' %>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<%= polaris_heading "Banners" %>
<%= demo_partial 'banner' %>
<%= demo_partial 'banner_success' %>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


<%= polaris_heading "Annotated Section" %>
<%= demo_partial 'annotated_section' %>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<%= polaris_heading "Model errors" %>
<%= demo_partial 'model_errors' %>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


<%= polaris_heading "Page actions" %>
<%= demo_partial 'page_actions' %>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
