<% listname = attribute %>
<div class="Polaris-FormLayout__Item">
  <div class="">
    <fieldset class="Polaris-ChoiceList" id="<%= listname %>" aria-invalid="false">
      <legend class="Polaris-ChoiceList__Title"><%= title %></legend>
      <ul class="Polaris-ChoiceList__Choices">
        <% choices.each do |choice| %>
          <% inputname = polaris_random_input_name %>
          <li>
            <label class="Polaris-Choice" for="<%= inputname %>">
              <span class="Polaris-Choice__Control">
                <span class="Polaris-RadioButton">
                  <%= form.radio_button attribute, choice[:value], checked: selected == choice[:value], class: 'Polaris-RadioButton__Input', id: inputname %>
                  <span class="Polaris-RadioButton__Backdrop"></span>
                  <span class="Polaris-RadioButton__Icon"></span>
                </span>
              </span>
              <span class="Polaris-Choice__Label"><%= choice[:label] %></span>
            </label>
          </li>
        <% end %>
      </ul>
    </fieldset>
  </div>
</div>
